<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Correios.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Correios.Services.Properties.Settings>
            <setting name="Correios_Services_WebService_edei" serializeAs="String">
                <value>https://apphom.correios.com.br/edeiWS/edei/edeiService</value>
            </setting>
        </Correios.Services.Properties.Settings>
    </applicationSettings>
</configuration>