<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="edeiSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="edeiSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apphom.correios.com.br/edeiWS/edei/edeiService"
                binding="basicHttpBinding" bindingConfiguration="edeiSoapBinding"
                contract="WebService.edeiService" name="edeiServicePort" />
        </client>
    </system.serviceModel>
</configuration>